import mongoose from 'mongoose'
import { DaoMongoose } from './DaoMongoose.js'

const {{ decapitalized entityName }}Schema = new mongoose.Schema({}, { versionKey: false })
const {{ decapitalized entityName }}Model = mongoose.model('{{ decapitalized entityName }}', {{ decapitalized entityName }}Schema)

export const {{ decapitalized entityName }}DaoMongoose = new DaoMongoose({{ decapitalized entityName }}Model)
