class {{ nombreMayuscula }}Repository {
  constructor() { }
  create(data, options) { }
  readOne(criteria, options) { }
  readMany(criteria, options) { }
  updateOne(criteria, newData, options) { }
  updateMany(criteria, newData, options) { }
  deleteOne(criteria, options) { }
  deleteMany(criteria, options) { }
}

export const {{ nombreMinuscula }}Repository = new {{ nombreMayuscula }}Repository()