import { {{ decapitalized entityName }}Dao{{ capitalized daoType }} } from '../daos/{{ decapitalized entityName }}.dao.{{ decapitalized daoType }}.js'
import { GenericRepository } from './GenericRepository.js'

export const {{ decapitalized entityName }}Repository = new GenericRepository({{ decapitalized entityName }}Dao{{ capitalized daoType }})