class {{ nombreMayuscula }}Repository {
  constructor() { }
  create(data) { }
  readOne(criteria) { }
  readMany(criteria) { }
  updateOne(criteria, newData) { }
  updateMany(criteria, newData) { }
  deleteOne(criteria) { }
  deleteMany(criteria) { }
}

export const {{ nombreMinuscula }}Repository = new {{ nombreMayuscula }}Repository()